* {
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 98, 221);
}

.navbar {
    background-color: transparent !important;
}




.amig {
    position: absolute;
    height: 60vh;
    right:  10%;
    top: 20vh;

}


.tagline{
    position: absolute;
  top: 40vh;
  left: 15vw;
}

.buttons {
    position: absolute;
    top: 50vh;
  left: 15vw;
}

.code {
    height: 5vh;
    border-radius: 5vh;
    background-color: rgb(70, 4, 133);
    
}

.project {
    height: 5vh;
    border-radius: 5vh;
    background-color: rgb(70, 4, 133);
}